<header>
  <div class="header-contents">
    <div class="header-logo">
      <h1><%= link_to "VictoryMembers", root_path %></h1>
    </div>
    <div class="header-lists">
      <% if user_signed_in? %>
        <ul class="list-contents">
          <li><%= link_to current_user.name, "#", class:"my-page" %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"log-out" %></li>
        </ul>
      <% else %>
        <ul class="list-contents">
          <li><%= link_to "ログイン", user_session_path, class:"log-in" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class:"session" %></li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
