<%= render "shared/header" %>
<%= form_with model: @defence, url: member_defences_path, class: "defence-main-wrap", local: true do |f| %>

  <div class="defence-main-image">
    <%= image_tag "779871.jpg", class:"defence-image" %>
    <select class="pitcher-field", name="pitcher-field-name">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <% if member.pitcher.pitcher_position %>
        <%= member.name %>
        <option><%= member.name %></option>
        <% end %>
      <% end %>
    </select>
    <select class="catcher-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <% if member.catcher.catcher_position %>
        <option><%= member.name %></option>
        <% end %>
      <% end %>
    </select>
    <select class="first-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <% if member.first.first_position %>
        <option><%= member.name %></option>
        <% end %>
      <% end %>
    </select>
    <select class="second-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <% if member.second.second_position %>
        <option><%= member.name %></option>
        <% end %>
      <% end %>
    </select>
    <select class="third-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <% if member.third.third_position  %>
        <option><%= member.name %></option>
        <% end %>
      <% end %>
    </select>
    <select class="short-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <% if member.short.short_position %>
        <option><%= member.name %></option>
        <% end %>
      <% end %>
    </select>
    <select class="left-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <%# <% if member.outside.outside_position %> %>
        <option><%= member.name %></option>
        <%# <% end %> %>
      <% end %>
    </select>
    <select class="center-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <%# <% if member.outside.outside_position %> %>
        <option><%= member.name %></option>
        <%# <% end %> %>
      <% end %>
    </select>
    <select class="right-field">
      <option>選手を選択してください</option>
      <% @members.each do |member| %>
        <%# <% if member.outside.outside_position %> %>
        <option><%= member.name %></option>
        <%# <% end %> %>
      <% end %>
    </select>
    <div class="defence-next-btn">
      <%= f.submit "打順設定へ進む", class:"defence-btn" %>
    </div>
  </div>
  
<% end %>
<%= render "shared/footer" %>