<%= render "shared/header" %>

<div class="defence-main-wrap">
  <div class="defence-wrap">
    <ul class="defence-menu-lists">
      <%# <li><%= link_to "マイページ", "#", class:"memu-list" %></li>         %>
      <%# <li><%= link_to "選手登録", new_member_path, class:"memu-list" %></li> %>
      <%# <li><%= link_to "選手一覧", player_members_path, class:"memu-list" %></li> %>
      <li><%= link_to "スタメン設定", new_team_defence_path, class:"memu-list" %></li>
      <%# <li><%= link_to "スタメン設定", new_defence_path, class:"memu-list" %></li> %>

    </ul>
  </div>
</div>

<%= render "shared/footer" %>