<%= render "shared/header" %>
<div class="main-page">
  <div class="first-view">
    <div class="top-image-content">
      <%= image_tag "441449_m.jpg", class:"top-image" %>
      <div class="main-text">
        <h2>さぁ、ベストメンバーを</h2>
        <h2 class="sub-text">作成しよう！！</h2>
      </div>
      <ul class="main-menu-lists">
        <li><%= link_to "マイページ", "#", class:"memu-list" %></li>        
        <li><%= link_to "選手登録", new_member_path, class:"memu-list" %></li>
        <li><%= link_to "選手一覧", player_members_path, class:"memu-list" %></li>
        <li><%= link_to "スタメン設定", member_defences_path(@members), class:"memu-list" %></li>
        <li><%= link_to "スタメン履歴", "#", class:"memu-list" %></li>
      </ul>
    </div> 
  </div>
  <div class="second-view">
    
  </div>
</div>
<%= render "shared/footer" %>