<%= render "shared/header" %>
<div class="main-page">
  <div class="first-view">
    <div class="top-image-content">
      <ul class="main-menu-lists">
        <%# <li><%= link_to "マイページ", team_path, class:"memu-list"%></li>          %>
        <li><%= link_to "選手登録", new_team_member_path, class:"memu-list" %></li>
        <%# <li><%= link_to "選手一覧", team_members_path, class:"memu-list" %></li> %>
        <li><%= link_to "スタメン", team_defences_path, class:"memu-list" %></li>
      </ul>
    </div> 
    <div class="registration">
      <div class="member-contents-wrap">
        <div class="member-header">
          <p>選手一覧</p>
        </div>
        <ul class="position-lists">
          <li class="position-list">
            投手
          </li>
          <li class="position-list">
            捕手
          </li>
          <li class="position-list">
            内野手
          </li>
          <li class="position-list">
            外野手
          </li>
        </ul>
          <ul class="member-contents">
            <% @members.each do |member| %>
              <li class="member-content">
                <%= link_to member_path(member.id) do %>
                <%= image_tag member.image.variant(resize:'500x500'), class:"member-image" if member.image.attached? %>
                <div class="member-name"><%= member.name %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>