<%= render "shared/header" %>

<div class="registration">
  <div class="member-contents-wrap">
    <div class="member-header">
      <p>選手詳細</p>
    </div>
    <div class="member-only-content">
      <div class="member-only-image">
        <%= image_tag @member.image, class:"only-image" %>
      </div>
      <div class="member-only-data-contents">

        <div class="only-data-content">
          <div class="only-data-list">
            <p>名前：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>学年：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.school_year.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>年齢：</p>
          </div>
          <div class="only-data-name">
              <p><%= @member.age %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>身長：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.tall %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>体重：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.weight %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>投球：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.throwing.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>打席：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.hitting.name %></p>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置①：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.first_position.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置②：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.second_position.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置③：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.third_position.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>背番号：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.number %></p>
          </div>
        </div>

      </div>
    </div>
    <div class="member-only-edit">
      <%= link_to "編集", edit_member_path, class:"member-only-edit-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>