<%= render "shared/header" %>

<div class="registration">
  <div class="member-contents-wrap">
    <div class="member-header">
      <p>選手詳細</p>
    </div>
    <div class="member-only-content">

      <div class="member-only-image">
        <%= image_tag @member.image, class:"only-image" %>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>名前：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.name %></p>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>学年：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.school_year.name %></p>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>背番号：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.number %></p>
          </div>
        </div>


      </div>


      <div class="member-only-data-contents">

        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.pitcher.pitcher_position %>
            <p>投手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.catcher.catcher_position %>
            <p>捕手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.first.first_position %>
            <p>一塁手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.second.second_position %>
            <p>二塁手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.third.third_position %>
            <p>三塁手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.short.short_position %>
            <p>遊撃手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>守備位置：</p>
          </div>
          <div class="only-data-name">
          <% if @member.outside.outside_position %>
            <p>外野手</p>
          <% end %>
          </div>
        </div>
        <div class="only-data-content">
          <div class="only-data-list">
            <p>身長：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.tall %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>体重：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.weight %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>投球：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.throwing.name %></p>
          </div>
        </div>

        <div class="only-data-content">
          <div class="only-data-list">
            <p>打席：</p>
          </div>
          <div class="only-data-name">
            <p><%= @member.hitting.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="member-only-edit">
      <%= link_to "編集", edit_member_path, method: :get, class:"member-only-edit-btn" %>
      <%= link_to "削除", member_path, method: :delete, class:"member-only-edit-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>